@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-color: #2a4199;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  background-color: #4557b2;
  color: white;
  font-size: larger;
  height: 30rem;
  width: 40rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button:hover {
  cursor: pointer;
  background-color: #7a83e5;
}

button {
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  font-size: xx-large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #5f6dcc;
}